# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="mysql://root:root@127.0.0.1:3306/cs_database?allowPublicKeyRetrieval=true"
DATABASE_USER="root"
DATABASE_PASSWORD="root"
DATABASE_NAME="cs_database"
DATABASE_HOST="127.0.0.1"
DATABASE_PORT=3306



AWS_CLOUD_FOND=


# AWS S3 
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_REGION=ap-south-1
AWS_S3_BUCKET=

MONGO_URI=""
JWT_SECRET=""
PORT=5000